@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-vertical {
  animation: scroll-vertical 30s linear infinite;
}

.ripple-effect {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: scale(0);
  animation: ripple 1s ease-out;
  background: linear-gradient(to right, rgb(120, 0, 255), rgb(0, 70, 255));
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.clip-triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.clip-triangle-down {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}